body {
    font-family: Verdana, sans-serif;
    color: #cad3f5;
    background-colour: #24273a;
}

head {
    border-radius: 25px;
    text-align: center;
    padding: 20px 20px 20px 80px;
    margin: 5px;
    background-colour: #24273a;
}
output, input {
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    background-colour: #24273a;
}

output {
    background-color: #24273a;

}

footer {
    padding: 20px 80px 20px 0;
}
/*flexbox*/
.flex-container {
    display: flex;
    flex-direction: row;
}