body {
    font-family: Verdana, sans-serif;
    color: #cad3f5;
    background-color: #24273a;
}

head {
    border-radius: 25px;
    text-align: center;
    padding: 20px 20px 20px 80px;
    margin: 5px;
}
output, input {
    border-radius: 5px;
    margin: 5px;
    padding: 10px 20px;
}

output {
    border-radius: 5px;
}
footer {
    border-radius: 5px;
    text-align: center;
    background-color: #179299;
    font-size: 12px;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.background {

}
div.transbox {

}
/*flexbox*/
.flex-container {
    padding: 20px 30px 20px 0;
    display: flex;
    flex-direction: row;
}